version: '3.9'

services:
  web:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.web
    env_file:
      - ../../apps/web/.env.local
    ports:
      - '3000:3000'

  api:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.api
    env_file:
      - ../../apps/api/.env
    ports:
      - '4000:4000'

  ai:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.ai
    env_file:
      - ../../apps/ai/.env
    ports:
      - '8000:8000'

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - web
      - api
      - ai
    ports:
      - '8080:80'
    volumes:
      - ../nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
